
@{
    ViewBag.Title = "EmailConfirmation";
}

<h2>EmailConfirmation</h2>

<div class="row">
    <div class="col-sm-4">
        <form data-bind="submit: callApi">
            <h3>Email confirmation</h3>
            <div class="form-group">
                <h3>Your email has been confirmed, click <a href="@Url.RouteUrl("login")">here</a> to log in</h3>
            </div>
        </form>
    </div>
</div>