

<h2>Welcome to KarabowID signup!</h2>

<div class="row">
    <div class="col-sm-4">
        <form data-bind="submit: callApi">
            <h3>Click on any of the links below</h3>
            <div class="form-group">
                <button type="button" class="btn btn-default"><span><a href="Register">Register</a></span></button>
            </div>
            <div class="form-group">            
                <button type="button" class="btn btn-default"><span><a href="Login">LogIn</a></span></button>
            </div>
            <div class="form-group">
                @*<label><a href="UI/Register">Register</a></label>*@
            </div>
        </form>
    </div>
    </div>
